<div class="form-row">
    <div class="form-group col-md-6">
        <label for="address1">Address Line 1</label>
        <input type="text" class="form-control" id="address1" placeholder="1234 Main St">
    </div>
    <div class="form-group col-md-6">
        <label for="address2">Address Line 2</label>
        <input type="text" class="form-control" id="address2" placeholder="Apartment, studio, or floor">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city">
    </div>
    <div class="form-group col-md-4">
        <label for="province">Province</label>
        <select id="province" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label for="postalCode">Postal Code</label>
        <input type="text" class="form-control" id="postalCode">
    </div>
</div>