
<div class="card text-white bg-secondary mb-3">
    <div class="card-header">
        <span id="panelTitle">Client Search</span>
    </div>
    <div class="navbar text-dark navbar-expand-lg navbar-light bg-light" id="clientSearchPanelToolbar">
      <!--  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Find</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Clear</a>
      </li>
    </ul>
  </div> -->
    </div>
</div>

