
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 id="panelTitleClientSearch" class="h5">Client Search</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2 client-search-action-btn-group">
                    <button class="btn btn-sm btn-outline-light" data-action="find">Find</button>
                    <button class="btn btn-sm btn-outline-light" data-action="open">Open</button>
                    <button class="btn btn-sm btn-outline-light" data-action="new">New</button>
                    <button class="btn btn-sm btn-outline-light" data-action="clear">Clear</button>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" hidden>

        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="clientName">Name</label>
                    <input type="text" class="form-control" id="clientName" placeholder="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="clientPhone">Phone</label>
                    <input type="text" class="form-control" id="clientPhone">
                </div>
            </div>
        </form>
        <h5>List of clients</h5>
        <div class="table-responsive" id="clientSearchResultList">
            <table class="table table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">City</th>
                        <th scope="col">Province</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>

