<div class="card text-white bg-secondary">
    <div class="card-header">
        <span id="panelTitle">Employee</span>
        <button type="button" class="close float-right" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="navbar text-dark navbar-expand-lg navbar-light bg-light no-gutters" id="employeeDetailPanelToolbar" style="margin-top: -18px; margin-left: -10px; margin-right: -10px; margin-bottom: 10px;">
        </div>
        <div class="alert alert-danger" role="alert" hidden>

        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="employeeNumber">Number</label>
                    <input type="text" class="form-control" id="employeeNumber" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label for="employeeBirthDate">Date of Birth</label>
                    <input type="text" class="form-control" id="employeeBirthDate" placeholder="yyyy-mm-dd">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="employeeLastName">Last Name</label>
                    <input type="text" class="form-control" id="employeeLastName" placeholder="last name">
                </div>
                <div class="form-group col-md-6">
                    <label for="employeeFirstName">First Name</label>
                    <input type="text" class="form-control" id="employeeFirstName" placeholder="first name">
                </div>
            </div>
            <div id="address"></div>
            <div id="contact"></div>
        </form>
    </div>
</div>
